.header {
  height: var(--header-height);
  background-image: linear-gradient(40deg, var(--red-color), var(--red-color1));
}

/* ////////////////////////////// */
/* =========Navbar============ */
/* ////////////////////////////// */

.navbar {
  height: var(--navbar-height);
  display: flex;
  justify-content: space-between;
}

.navbar-list {
  list-style: none;
  padding-left: 0;
  display: inline-flex;
  justify-items: center;
}

.navbar-item,
.navbar-item-link {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
}

.navbar-item {
  margin: 0 0.8rem;
  position: relative;
}

.navbar-item--show-qr:hover .header__qr {
  display: block;
}

.navbar-item--show-notify:hover .notify {
  display: block;
}

.navbar-item--separate::after {
  content: "";
  display: block;
  position: absolute;
  height: 1.4rem;
  border-left: 1px solid rgb(255, 255, 255, 0.5);
  right: -0.9rem;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-item--strong {
  font-weight: 500;
}

.navbar-item:hover,
.navbar-item-link:hover,
.navbar-icon:hover {
  color: rgb(255, 255, 255, 0.8);
  cursor: pointer;
}

.navbar-item,
.navbar-item-link,
.navbar-item-link-icon {
  text-decoration: none;
  color: var(--white-color);
  display: inline-flex;
  align-items: center;
}

.navbar-icon {
  font-size: 1.7rem;
  margin: 0 0.4rem;
}

.navbar-title--default {
  cursor: text;
  color: var(--white-color);
}

/* ////////////////////////////// */
/* ====== Header QR Code =====*/
/* ////////////////////////////// */

.header__qr {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 2rem;
  background-color: var(--white-color);
  width: 18rem;
  animation: fadeIn ease-in 0.2s;
  will-change: opacity;
  display: none;
}

.header__qr::before {
  content: "";
  position: absolute;
  height: 2.5rem;
  width: 100%;
  top: -2rem;
  display: block;
}

.header__qr-img {
  width: 100%;
}

.header__qr-apps {
  display: flex;
  justify-content: space-between;
}

.header__qr-link:first-child {
  margin-left: 1.2rem;
}
.header__qr-link:last-child {
  margin-right: 1.2rem;
}

.header__qr-apps-img {
  height: 1.7rem;
}

/* ////////////////////////////// */
/* ============ Notify==============*/
/* ////////////////////////////// */

.notify {
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 2rem;
  background-color: var(--white-color);
  width: 40rem;
  border: 0.1rem solid #d3d3d3;
  cursor: default;
  display: none;
  z-index: 10;
  transform-origin: calc(100% - 20px) top;
  animation: growUp ease-in 0.2s;
  will-change: opacity transform;
}

.notify::before {
  content: "";
  border-width: 20px 30px;
  border-style: solid;
  border-color: transparent transparent var(--white-color);
  position: absolute;
  right: 3px;
  top: -32px;
}

.notify::after {
  content: "";
  width: 89px;
  height: 24px;
  position: absolute;
  top: -24px;
  right: -2px;
}

.notify-header {
  height: 4rem;
  padding: 1rem 1.2rem;
}

.notify-header h3 {
  color: #c4c4c4;
  font-weight: 500;
  font-size: 1.4rem;
}

.notify-link {
  text-decoration: none;
  display: flex;
  padding: 1.2rem;
  background-color: var(--red-color-rgba);
}

.notify-link:hover {
  background-color: var(--red-color-rgba-hover);
}

.notify-img {
  width: 5rem;
  height: 5rem;
}

.notify-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 1.2rem;
}

.notify-title {
  font-weight: 400;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 1.8rem;
  margin-bottom: 0.4rem;
}

.notify-description {
  font-size: 1.2rem;
  color: #888;
}

.notify-footer {
  display: flex;
}
.notify-footer--btn {
  text-decoration: none;
  width: 100%;
  padding: 1.4rem 0;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--black-color);
  display: block;
  text-align: center;
}

/* ////////////////////////////// */
/* ========= Modal Layout ======== */
/* ////////////////////////////// */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  animation: fadeIn linear 0.2s;
}

.modal__overplay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.2);
}

.modal__body {
  --growth-from: 30%;
  --growth-to: 100%;
  background-color: var(--white-color);
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
  z-index: 100;
  animation: growth linear 0.2s;
}

/* ///////////////////////////////// */
/* ======= Auth Form Modal ======== */
/* ///////////////////////////////// */

.auth-form {
  width: 50rem;
}

.auth-form__container {
  padding: 2.4rem 2.4rem 0 2.4rem;
}

.auth-form__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.2rem;
  margin: 1.2rem 0;
}

.auth-form__heading {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--text-color);
}

.auth-form__switch-btn {
  font-size: 1.6rem;
  color: var(--red-color1);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.auth-form__form {
  margin-top: 1.6rem;
}

.auth-form__group {
}

.auth-form__input {
  width: 100%;
  height: 4rem;
  margin-top: 1.6rem;
  padding: 0 1.2rem;
  font-size: 1.4rem;
  color: #777;
  border: 1.5px solid #99999971;
  border-radius: 2px;
  outline: none;
}

.auth-form__input:focus {
  border-color: #888;
}

.auth-form__aside {
  margin-top: 2rem;
  margin-bottom: 8rem;
  text-align: center;
  line-height: 1.8rem;
}

.auth-form__policy-text {
  font-size: 1.2rem;
}

.auth-form__text-link {
  text-decoration: none;
  color: var(--red-color1);
  font-size: 1.2rem;
}

.btn-back {
  background-color: var(--white-color);
  border: none;
  color: var(--text-color);
}

.btn-back:hover {
  background-color: rgba(153, 153, 153, 0.1);
  color: var(--text-color);
  border: none;
}

.auth-form__control {
  display: flex;
  justify-content: end;
  gap: 1rem;
  margin-bottom: 2rem;
}

.auth-form__socials {
  background-color: #f5f5f5;
  padding: 1.5rem 3.6rem;
  display: flex;
  justify-content: space-between;
}

.btn--with-icon {
  width: 21rem;
  text-decoration: none;
  font-size: 1.4rem;
  padding: 0.7rem 0.7rem;
  border-radius: 2px;
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 0.5rem;
}

.btn--with-icon p {
  flex-grow: 1;
  text-align: center;
}

.btn--with-icon i {
  font-size: 2rem;
}

.btn--with-icon:first-child {
  background-color: #0866ff;
  color: var(--white-color);
}

.btn--with-icon:last-child {
  background-color: var(--white-color);
  color: var(--text-color);
}

.auth-form__help {
  display: flex;
  justify-content: end;
  gap: 3rem;
}

.auth-form__help-link {
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--red-color1);
  position: relative;
}

.auth-form__help-link--separate::after {
  content: "";
  display: block;
  position: absolute;
  height: 2rem;
  border-left: 1px solid rgb(136, 136, 136, 0.5);
  right: -1.6rem;
  top: 50%;
  transform: translateY(-50%);
}

.auth-form__help-link:last-child {
  color: #888;
}

/* ////////////////////////////// */
/* ===== Header Search layout =====*/
/* ///////////////////////////// */

.header-with-search {
  height: var(--header-with-search-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.header__logo {
}

.header__logo-img {
  width: 8rem;
  height: 6rem;
  margin: 0 7rem;
}

.header__search {
  height: 4rem;
  background-color: var(--white-color);
  flex-grow: 1;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-input-container {
  flex-grow: 1;
  position: relative;
}

.search-input {
  width: 100%;
  height: 3.6rem;
  padding: 0 1rem;
  border: none;
  outline: none;
  font-size: 1.45rem;
  color: #888;
}

.search-input:focus ~ .search-input__history {
  display: block;
}

.search-input__history {
  position: absolute;
  width: calc(100% - 1.6rem);
  max-height: 10rem;
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 2px rgb(204, 204, 204);
  top: calc(100% + 0.7rem);
  left: 0;
  display: none;
  animation: fadeIn ease-in 0.2s;
  overflow: hidden;
}

.search-input__history-header {
  padding: 1rem 1rem;
  font-size: 1.4rem;
  color: #999;
  font-weight: 500;
}

.search-input__history-list {
  list-style: none;
}

.search-input__history-item {
  padding: 0.6rem 1.2rem;
}

.search-input__history-item:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.search-input__history-item a {
  font-size: 1.4rem;
  color: var(--text-color);
  text-decoration: none;
}

.search-select {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
  position: relative;
}

.search-select:hover .search-option {
  display: block;
}

.search-select::before {
  content: "";
  position: absolute;
  height: 2rem;
  border-left: 2px solid rgb(153, 153, 153, 0.5);
  left: 0;
}

.search-select-label {
  font-size: 1.3rem;
  color: var(--text-color);
}

.search-select-icon {
  margin-top: 0.15rem;
  font-size: 1.3rem;
  color: rgb(153, 153, 153, 0.7);
}

.search-option {
  background-color: var(--white-color);
  border-radius: 2px;
  box-shadow: 0 1px 2px rgb(204, 204, 204);
  position: absolute;
  width: 11.5rem;
  right: 0;
  top: 205%;
  animation: fadeIn ease-in 0.2s;
  display: none;
}

.search-option::before {
  content: "";
  height: 2.4rem;
  width: 100%;
  top: -32%;
  position: absolute;
  display: block;
}

.search-option-item {
  list-style: none;
  color: var(--text-color);
  font-size: 1.4rem;
  padding: 0.8rem 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-option-item:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.search-option-item:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.search-option-item:hover {
  background-color: #eeeeee;
  cursor: pointer;
}

.search-option-icon--active i {
  display: inline;
}

.search-option-icon {
  color: var(--red-color1);
  font-size: 1.2rem;
  display: none;
}

.search-btn {
  height: 3.6rem;
  width: 6.4rem;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  background-color: var(--red-color1);
  margin: 0 0.2rem;
  transition: all ease 0.1s;
}

.search-btn:hover {
  background-color: rgb(255, 0, 0, 0.8);
}

.search-btn__icon {
  color: var(--white-color);
  font-size: 1.6rem;
}

.cart {
  width: 15rem;
  display: flex;
  justify-content: center;
}

.cart__container {
  position: relative;
  padding: 0.5rem 0.5rem;
}

.cart__container:hover .cart-info {
  display: block;
}

.cart__container a {
  list-style: none;
}

.cart__icon {
  color: var(--white-color);
  margin: auto;
  font-size: 2.4rem;
  margin-top: 0.4rem;
}

.cart-info {
  position: absolute;
  width: 40rem;
  top: calc(100% + 0.5rem);
  right: -36%;
  border-radius: 2px;
  background-color: var(--white-color);
  box-shadow: 0 1px 10px rgb(204, 204, 204);
  animation: growUp ease-in 0.25s;
  transform-origin: calc(100% - 20px) top;
  display: none;
}

.cart-info::after {
  content: "";
  border-color: transparent transparent white transparent;
  border-width: 20px 30px;
  border-style: solid;
  position: absolute;
  top: -30px;
  right: 0;
  cursor: pointer;
}

/* === Have item in Cart */
.cart-notice {
  position: absolute;
  font-size: 1.3rem;
  line-height: 1.3rem;
  color: var(--red-color);
  background-color: var(--white-color);
  border-radius: 10px;
  border: 2px solid var(--red-color1);
  padding: 0.2rem 0.8rem;
  top: -5px;
  right: -10px;
}

/* === No item in Cart === */
.cart-list--no-cart-img {
  display: none;
  margin: 0 auto;
  width: 55%;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  padding-top: 2rem;
}
.cart-list--no-cart-text {
  display: none;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--text-color);
  padding: 2rem 0;
}

/* ===Cart Item === */
.cart-heading {
  color: #c4c4c4;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 1.5rem 1rem;
}

.cart-item {
  list-style: none;
}

.cart-list-item img {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}

.cart-item-link {
  text-decoration: none;
  display: flex;
  padding: 1rem 1rem;
}

.cart-item-link:hover {
  background-color: #f5f4f4;
}

.cart-item-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.cart-item-head {
  display: flex;
  justify-content: space-between;
}
.cart-item-title {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--text-color);
  line-height: 1.8rem;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cart-item-detail {
  display: flex;
  gap: 0.5rem;
}
.cart-item-price {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--red-color1);
}
.cart-item-multiply {
  font-size: 1rem;
}
.cart-item-qnt {
  font-size: 1.2rem;
}
.cart-item-body {
  display: flex;
  justify-content: space-between;
}
.cart-item-description {
  font-weight: 500;
  color: #999;
  font-size: 1.2rem;
}
.cart-item-btn-delete {
  height: 2rem;
  width: 5rem;
  border: none;
  background-color: transparent;
  font-size: 1.4rem;
  font-weight: 400;
  cursor: pointer;
  display: flex;
  justify-content: end;
  align-items: center;
}

.cart-footer {
  display: flex;
  justify-content: end;
  padding: 1.5rem 1rem;
}

.cart-btn {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
